.button {
/*   display: flex;
  align-items: center;
  justify-content: center; */
  display: block;
  background-color: #D3D3D3;
  border: none;
  color: #000000;
/*   border: 2px solid #555555; */
  padding: 10px 20px;
/*   text-align: center; */
  text-decoration: none;
/*   display: inline-block; */
  font-size: 50%;
/*   margin: 4px 2px; */
  margin:0 auto;
  cursor: pointer;
  height: auto;
  border-radius: 8px;  
  width: 100%;
}

.button:hover {
  background-color: #555555;
  color: #ffffff;
  transition-duration: 0.4s;
}

.selected {
  background-color: #337ab7;
  color: #ffffff;
}

#understoodButtonId, #consentButtonId, #nextButtonConsentID {
/*  padding: 10px 32px;
 width: 100%; */
}

#scaleQuestionOneButtonId, #scaleQuestionTwoButtonId, #scaleQuestionThreeButtonId, #scaleQuestionFourButtonId, #scaleQuestionFiveButtonId, #scaleQuestionSixButtonId, #scaleQuestionSevenButtonId, #scaleQuestionEightButtonId {
  padding: 8px 10px;
  font-size: 35%;
  height: 100%;
  position: absolute; 
}

.iframe_letter {
  position: absolute; 
  height: 100%; 
  width: 100%;
  border: none
}

/* #timer {
  	background: linear-gradient(to right, darkgrey 60%, #ffdb3a 80%, red 100%);
} */

