.button {
/*   display: flex;
  align-items: center;
  justify-content: center; */
  display: block;
  background-color: #D3D3D3;
  border: none;
  color: #000000;
/*   border: 2px solid #555555; */
  padding: 10px 20px;
/*   text-align: center; */
  text-decoration: none;
/*   display: inline-block; */
  font-size: 16px;
/*   margin: 4px 2px; */
  margin:0 auto;
  cursor: pointer;
  height: auto;
  border-radius: 8px;
  
}

#understoodButtonId, #consentButtonId, #nextButtonConsentID {
 padding: 10px 32px;
 width: 900px;
}

.button:hover {
  background-color: #555555;
  color: #ffffff;
  transition-duration: 0.4s;
}

$radioSize: 22px;
$radioBorder: #D1D7E3;
$radioActive: #5D9BFB;

.radio {
    margin: 16px 0;
    display: block;
    cursor: pointer;
    input {
        display: none;
        & + span {
            line-height: $radioSize;
            height: $radioSize;
            padding-left: $radioSize;
            display: block;
            position: relative;
            &:not(:empty) {
                padding-left: $radioSize + 8;
            }
            &:before,
            &:after {
                content: '';
                width: $radioSize;
                height: $radioSize;
                display: block;
                border-radius: 50%;
                left: 0;
                top: 0;
                position: absolute;
            }
            &:before {
                background: $radioBorder;
                transition: background .2s ease, transform .4s cubic-bezier(.175, .885, .32, 2);
            }
            &:after {
                background: #fff;
                transform: scale(.78);
                transition: transform .6s cubic-bezier(.175, .885, .32, 1.4);
            }
        }
        &:checked + span {
            &:before {
                transform: scale(1.04);
                background: $radioActive;
            }
            &:after {
                transform: scale(.4);
                transition: transform .3s ease;
            }
        }
    }
    &:hover {
        input {
            & + span {
                &:before {
                    transform: scale(.92);
                }
                &:after {
                    transform: scale(.74);
                }
            }
            &:checked + span {
                &:after {
                    transform: scale(.4);
                }
            }
        }
    }
}
