.button {
/*   display: flex;
  align-items: center;
  justify-content: center; */
  display: block;
  background-color: #D3D3D3;
  border: none;
  color: #000000;
/*   border: 2px solid #555555; */
  padding: 10px 20px;
/*   text-align: center; */
  text-decoration: none;
/*   display: inline-block; */
  font-size: 16px;
/*   margin: 4px 2px; */
  margin:0 auto;
  cursor: pointer;
  height: auto;
  border-radius: 8px;
  
}

#understoodButtonId, #consentButtonId, #nextButtonConsentID {
 padding: 10px 32px;
 width: 900px;
}

.button:hover {
  background-color: #555555;
  color: #ffffff;
  transition-duration: 0.4s;
}
